@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
}

p {
    text-align: justify;
    padding: 5px;
}


div.video {
    background-color:white;
    margin: 0px -20px 30px -20px;
    padding: 10px;
    padding-bottom:25%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 560;
    height: 315;
    
}