@charset "UTF-8"

<style>
        h1{
            font-family:Verdana,Geneva, Tahoma, sans-serif;
            font-size: 30px;
            color:black;
            font-style: italic;
            
    }

    body{
        
        background-color:cornflowerblue;




    }
    </style>